body {
    font-family: 'Josefin Sans', sans-serif, 'Merriweather', serif;
    background-color: #b0bec5;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

.btn-link {
    color: darkblue;
}

#content-wrap {
    padding-bottom: 2.5rem;  /*footer height*/
}

#footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /*background-color: #cbcbcb;*/
    background-color: #b0bec5;
    color: white;
}

.fab, .fas {
    padding: .3em;
    color: white;
}

.lgicon {
    font-size: 2em;
}

.spring-logo {
    height: .9em;
}

.small-img {
    width: 250px;
}

.lg-img {
    width: 100%;
}

#headshot img {
    width: 150px;
}

.jumbotron {
    background-color: #90a4ae;
    /*background-color: #b0bec5;*/
    padding: 2.5em;
    color: darkblue;
    margin-bottom: 0;
}

.projects {
    /*background-color: #cbcbcb;*/
    background-color: #b0bec5;
    padding: 1.5em;
}

.darker, #technical-skills {
    background-color: #90a4ae;
    /*background-color: #b0bec5;*/
    color: black;
    padding: 1.5em;
}

/*.projects > h1 {*/
/*    text-decoration: underline;*/
/*}*/

.about-me {
    background-color: darkblue;
    /*background-color: #607d8b;*/
    color: #b7c4cb;
    padding: 1.5em;
    /*do not remove this padding*/
}

.technical-skills {
    font-size: 1.5em;
}

a:link {
    color: darkblue;
}

a:visited {
    color: #3c87cc;
}

a:hover {
    color: hotpink;
}

a:active  {
    color: #b7c4cb;
}

